<h2>Show name should go here!<!--%= show_name(@show.moviedb_id) %--> - Season <%= @season.season_no %>, Episode <%= @episode.episode_no %></h2>

<p>A este episodio <%= @episode.watched ? "" : "todavia no" %> lo miraste!</p>
