<h2><%= get_show_name(@show.moviedb_id) %> - Season <%= @season.season_no %></h2>
<ul>
  <% @season.episodes.each do |episode| %>
    <li><%= link_to get_episode_name(@show.moviedb_id, @season.season_no, episode.episode_no), "/shows/#{@show.moviedb_id}/#{@season.season_no}/#{episode.episode_no}" %> - <%= episode.watched ? "Mirado" : "No mirado" %></li>
  <% end %>
</ul>
